

.name{
    font-size:45px;
}
.description{
    font-size: 35px;
}
.message{
    font-size:30px;
}

.container_home{
    display: grid;
    justify-content: flex-start;
    align-items: center;
    margin-top: 100px;
    margin-left: 132px;
    
}