

.name{
    font-size:45px;
}
.description{
    font-size: 35px;
}
.message{
    font-size:30px;
}

.container_home{
    display: grid;
    justify-content: flex-start;
    align-items: center;
    margin-top: 100px;
    margin-left: 132px;
    
}
body{
    background-image: url("https://github.com/veronicajn/portfoliocoral/blob/master/public/lotocoral.png?raw=true");
    background-repeat: none;

}